



#p-textoMensaje{
    font-size:smaller
}

#p-textoMensaje2{
    font-size:smaller
}


#cardMensajeChat{
    width: auto;
    max-width: 75%;
    height: auto;
    float:right;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #75C9F1;
}

#cardMensajeChat2{
    width: auto;
    max-width: 75%;
    height: auto;
    float:left;
    background-color:#0BE754;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;

}

#col1{
    width: 35%;
    border:solid;
    border-color: red;
}

#col2{
    width: 75%;
    
}


#div1{
    float: left;
    width: 70%;
}

#div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 30%;
}

#chatContenedorPrincipal{
    height: max-content;
   
}




#p-textoMensajehora{
    color: black;
    font-size:x-small;
    justify-content: right;
}


#contenedorMensajesFecha{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/*-----------------------------------------------------------*/

#ionCardMensaje{
    overflow: auto;
    height:100%;
    display:flex;
    flex-direction:column;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

#Mensajes{
    display: flex;
    flex-direction:column-reverse;
    width: 100%;
    overflow: auto;
    height:400px;
   
}

#p-textoMensaje-dia1{
    color: black;
    font-size:small;
    justify-content: center;
    float: center;
}

#contenedorMensajesChat{
    width: 90%;
    float: right;
}

#contenedorMensajesChat2{
 width: 90%;
 float: left;
}


#contenedorChat{
    display:flex; 
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background:  #f3f2ef;  
}

#modalChat-flechaVolver{
    display:flex; 
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    
}

#modalChat-titulo{
    display:flex; 
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    
}

#modalChat-card{
    display:flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;

   
}

#chatFooter{ 
    clear: both;
    position:relative;
    bottom:0;
    width:100%;
    height: 100px;
}

#chatTitulo{
    color: black;
    
}