#contenderCentralOrden{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ionCardOrden{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
   
}

#contenedorCamposIzquierda{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#contenedorCamposCentro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    
}

#tituloOrden{
    margin-bottom: 10px;
}

#cardOrdenTicket{
    width: 98%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    
}

#item-Orden{
    width: 80%;
    height: 100%;
}

#item-Orden-Check{
    width: auto;
    height: auto;
}

#containerUbicacion{
   
    margin-top: 20px;
}

 #GenerarOrdenContainer{
    background:  #f3f2ef;  

 }

