#contenderCentralOrden{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ionCard-CardProveedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tituloOrden{
    margin-bottom: 10px;
}

#cardOrdenTicket{
    width: 98%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    
}

#item-Orden{
    width: 98%;
    height: 100%;
}

#containerUbicacion{
   
    margin-top: 20px;
}