

#ionContentRegistro{
    background:  #f3f2ef;  
    height: 100%;
}


#item-registro{
    width:60%;
    text-align: left;
    margin: 0;
}


#item-registro-validacion{
    width:70%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#columna{
    width:10%;
    text-align: center;
    margin: 0;
    border:none;

}


ion-grid{
    height: 100%;
    width: 100%;
    text-align: center;
}
ion-row{
    width:100%;
}


.center-div{
    text-align:center;
    display: block;
    position: relative;
    padding-top: 20px;

}


#registro_header{
    height: 25%;
    width: 100%;
  
    position: fixed;
    top: 10%;
  
    display: flex;
    flex-direction: column-reverse;
    
    justify-content: flex-start;
  
  
  }
  
  #registro_contenedor_central {
    height: auto;
    width: 100%;
  
    position:relative;
    top:25%;   
      
    display: flex;
    flex-direction: column;
    align-items: center;
  
    }
  
#registro-footer{
      height: 25%;
      width: 100%;
  
      position:fixed;
      top:75%;   
            
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }

#columna2{
    display: flex;
    align-items: center;
    justify-content: center;

}

#boton{
width: 50%;
margin-top: 40px;
}

#boton-proveedor{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    }

ion-button{
    width: 100%;
}


#label-codigo-de-validacion{
    text-align: center;
    border:none;

}

#register-title{
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 1em;
 
}

#register-title2{
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 0.8em;
    
}

#subtitleRegistro{
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
     
}


#registro-iongrid{
    position: relative;
    top:25%;
  }
  
#flecha-volver-registro{
    width: 30px;
    height: 30px;
    color:black;
    position: relative;
    text-align: left;
}


#contenedorPrincipal{
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;

}

#contenedorHijoCentrado{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
    width: 100%;
    
   }

#contenederCentrarItem{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

#boton-registro{
    width: 95%;
    margin-top: 15px;
}

#boton-registro-2{
    width: 85%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

#contenedorHeaderRegistro{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contenedorGeneralRegistro{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}




#padreRegistro {
 
    height:100vh;
    width: 100%;
    /* IMPORTANTE */
    display: table;
  
  }
  
  #hijoRegistro {
    /* IMPORTANTE */
    display: table-cell;
    vertical-align: middle;
    
  }

  #contenedorPrincipalRegistro{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #headerRegistro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

  }

  #contenedorCentralRegistro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;   
    
  }

  #footerRegistro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
  }