

#fondeVerOrdenes{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  #f3f2ef;  
} 


#contenedorCentroVerOrdenes{
    width: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  #f3f2ef;  
}

#flechaVolver{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:  #f3f2ef; 
}


#ionContentModalVerOrdenes{
    width: 100%;
}

#CardOrden{
    display:flex; 
    flex-direction: column;
    width: 95%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}