
  .my-custom-class .modal-wrapper {
    background: #ffffff;
  
        height: 50%!important;
        width: 50%!important;
    
  }

  #contenedor-central{
    text-align: center;
    padding-top: 30px;

  }

  #columna2{
    display: flex;
    align-items: center; 
    text-align: left;
    position: relative;
 

}
#texto-pagina{
  position: absolute;
  left: 0px;
}

#contenedorMisOrdenesColor{
  background:  #f3f2ef;  
  height: 100%;
  width: 100%;
}
#padreMisServicios {
 
  height: 100%;
  width: 100%;
  /* IMPORTANTE */
  display: table;
  background:  #f3f2ef;  

}

#hijoMisServicios {
  /* IMPORTANTE */
  display: table-cell;
  vertical-align: middle;
}

#noHayOrdenes{
  font-size: 1em;
}

#segmentoMisServicios{

  height: 12%;
}

